PORT=3001
NODE_ENV=development
JWT_SECRET=TROQUE_POR_STRING_LONGA_64_CHARS_MINIMO
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=TROQUE_POR_STRING_DIFERENTE_64_CHARS
JWT_REFRESH_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
